@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <a onclick="window.open('./Html/a.html')">jump to a.html</a>
</div>
<div>
    111111test modify appsettings in portal.
</div>
<div>
    @ViewBag.myKeyValue
</div>
